@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1 class="display-4">Actualités</h1>
        <hr class="my-4">
        <p class="lead">Nouvelle gamme peaux sèches</p>
        <p>Découvrez notre nouvelle gamme spécifiquement concue pour les peaux sèches.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Cliquez ici pour découvrir</a>
        </p>
    </div>*@



<div class="row bg-primary">
    <div class="m-3">
        <h1 class="">Actualités</h1>

        <div class="col-md-4">
            <img class="mr-3" src="~/Images/nouvelleGamme.jpg" alt="h" width="210" height="180" />
        </div>

        <div class="col-md-8">
            <h2> Nouvelle gamme peaux sèches</h2>
            <p>Découvrez notre nouvelle gamme spécifiquement concue pour les peaux sèches.</p>
            <p><a class="btn btn-default btn-info" href="" style="background-color:slateblue; color:white; border-color:slateblue">Cliquez ici pour découvrir</a></p>
        </div>
    </div>
</div>




<div class="row">
    <h1 class="mt-3">Nos magasins</h1>

    <div class="col-md-4 table-hover">
        <h2>Boutique Joseph-Vallier</h2>
        <img class="mr-3" src="/Images/institut.jpg" width="320" height="150"/>
        <p>
            Venez découvrir toutes nos gammes dans la plus grande boutique de BautySphere au 3 rue Joseph-Vallier. Vous pourrez également consulter les soins disponibles en institut, prendre endez-vous et demander conseil à nos vendeuses.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Institut Lafayette</h2>
        <img class="mr-3" src="/Images/Institut1.jpg" width="320" height="150"/>
        <p>
            Une large gamme de soins vous est proposé par nos experts beauté. Venez demander conseil, vous faire maquiller, masser et bien plus dans l'institut Lafayette au 56 place Grenette'. Prenez rendez-vous en boutique !
        </p>
    </div>
    <div class="col-md-4">
        <h2>Boutique Championnet</h2>
        <img class="mr-3" src="/Images/Institut1.jpg" width="320" height="150" />
        <p>Découvrez les gammes classique de BeautySphere et prenez rendez-vous pour vos soins en institut au 6 Rue Lakanal quartier Championnet.</p>
    </div>
</div>