<div class="container">
    <div class="universHeader">
        <h1 class="selectedCat" id="universTitre">Notre univers</h1>
    </div>
    <div class="row">
        <h2></h2>
        <p>Bienvenue sur le site de BeautySphere, un espace bien être vous proposant ses produits de beauté et ses différents services en institut. Venez découvrir les gammes de soins capillaires, soins pour le visage et pour le corps dans nos boutiques. Venez rencontrer des experts beauté et obtenir des conseils pour prendre soin de votre peu et vos cheveux. Un grand choix de services vous sera proposé dans nos instituts pour un moment de bien être. Prenez rendez-vous en boutique ou en institut pour un massage, une manucure, une épilation et bien plus.</p>

    </div>

    <div class="row" id="confiance">
        <h2>Ils nous font confiance</h2>
        <div class="col-lg-3">
            <h3>Laura C.</h3>
            <p>Merci mille fois pour cette superbe expérience. Un merveilleux moment de calme et de détente grâce à l'équipe de l'institut Lafayette. Je  reviendrai !</p>
            <p>5 étoiles</p>
        </div>
        <div class="col-lg-3">
            <h3>Coalie V.</h3>
            <p>Merci mille fois pour cette superbe expérience. Un merveilleux moment de calme et de détente grâce à l'équipe de l'institut Lafayette. Je  reviendrai !</p>
            <p>5 étoiles</p>
        </div>
        <div class="col-lg-3">
            <h3>Solène H.</h3>
            <p>Merci mille fois pour cette superbe expérience. Un merveilleux moment de calme et de détente grâce à l'équipe de l'institut Lafayette. Je  reviendrai !</p>
            <p>5 étoiles</p>
        </div>
        <div class="col-lg-3">
            <h3>Nina I.</h3>
            <p>Merci mille fois pour cette superbe expérience. Un merveilleux moment de calme et de détente grâce à l'équipe de l'institut Lafayette. Je  reviendrai !</p>
            <p>5 étoiles</p>
        </div>
    </div>
</div>